* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.gallary {
    padding: 100px 9% 30px;
}

.section-title {
    padding: 25px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.art-content {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.art .img-box {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 3 / 4;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

#nav-icon {
    display: flex;
    font-size: 25px;
    cursor: pointer;
}
