:root {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-color: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

.darkmove {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-color: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.gallary {
    padding: 100px 9% 30px;
}

.section-title {
    padding: 25px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.art-content {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.art .img-box {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 3 / 4;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.img-box:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

#nav-icon {
    display: flex;
    font-size: 25px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 25px;
}

button {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: Inter;
    background-color: #CCD1E0;
    cursor: pointer;
    transition: 0.25s;
}

.art-of-day {
    max-width: 400px;
    margin: 2rem auto;
}

.artwork-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.artwork-preview .preview {
    display: none;
    padding: 4rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 35rem;
}

.artwork-preview .preview.active{
    display: block;
}

.artwork-preview .preview img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.artwork-preview .preview p{
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 14px;
}

.artwork-preview .preview #close-icon{
    position: absolute;
    top: 1rem; 
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 2rem;
}

.artwork-preview .preview #close-icon:hover{
    transform: rotate(90deg);
}